@{
  Layout = "_Layout";
}

@model MovieTickets.Models.Movie;

<h2>Movie Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>The Marquee Does Not Contain Any Movies Yet</p>
}
else
{
  <h4>Movies on the Marquee:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li><a href=/Theaters/Details/@join.Theater.TheaterId>@join.Theater.Name</a></li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Movies", "Index")</p>
<p>@Html.ActionLink("Edit Movie", "Edit", new { id = Model.MovieId })</p>
<p>@Html.ActionLink("Delete Movie", "Delete", new { id = Model.MovieId })</p