@{
  Layout = "_Layout";
}

@model MovieTickets.Models.Theater

<h2>Edit</h2>

<h3>Edit this Theater: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TheaterId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type ="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list of Theaters", "Index")</p>
